*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  ||VARIABLES */
:root{
    /* || Color || */
    --BGCOLOR:#455580;
    --ALTBGCOLOR:#1e293b;
    --RADIALCOLOR:whitesmoke;
    --lightCOLOR:whitesmoke;
    --DARKCOLOR:#000;

    /* || font || */
    --FS: 1.5rem;
    --FS-xl: 3rem;

    /* || general || */
    --PADDING:0.5rem;
}

 
body{
    min-height:100vh;
    background-color: var(--BGCOLOR);
    background-image: radial-gradient(var(--RADIALCOLOR), var(--BGCOLOR));
    display: flex;
    flex-direction: column;
}

header, nav, main, footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}
header, footer{
    position: sticky;
    background-color: var(--ALTBGCOLOR);
    color: antiquewhite;
    text-align: center;

}
header{
    top: 0;
}

nav{
    background-color:var(--lightCOLOR);
    color: var(--DARKCOLOR);
    padding: var(--PADDING);
    border-bottom: 2px solid #000;
    font-weight: bolder;
    box-shadow: 0 8px 9px -5px  var(--DARKCOLOR);
   
}
main {
    flex-grow: 1;
}
footer{
    bottom: 0;
}








