
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 233, 198);
    margin: 2rem;
}

body{
    width: 100%;
}
h1{
    border: 3px dashed rgb(0, 0, 206);
    width: 50%;
    font-size: 3rem;
    padding: 0.5em;
     margin: 2rem;
}
main{
    color: rgb(0, 0, 41);
    width: 50vw;
    background-color: rgba(69, 162, 250, 0.884);
    font-size: 1rem;
     margin: 2rem;
     padding: 10px;
     border: 4px rgb(34, 34, 238) solid;}
p{
    font-size: 1rem;
    width: 45vw;

}